---
// import Icon from "../Icon.astro";

const { name } = Astro.props;
---

<div x-data="{ submenu: null }">
	<!-- Current: "bg-gray-100 text-gray-900", Default: "bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
	<button
		type="button"
		class="group w-full flex items-center py-4 px-6 lg:px-10 text-left"
		aria-controls={`mobile-submenu-${name}`}
	>
		<span class="flex-1">{name}</span>
		<!-- <Icon icon="angle-down" class="fill-gray-300 w-[1em] h-[1em]" /> -->
	</button>
	<div class="bg-rock" id={`mobile-submenu-${name}`} >
		<slot />
	</div>
	<div class="mx-6 lg:mx-10 border-b-2 border-steel"></div>
</div>
