---
import Link from "../Link.astro";

const { href } = Astro.props;
---

<div>
	<Link href={href} class="group w-full flex items-center py-4 px-6 lg:px-10 text-white">
		<slot />
	</Link>
	<div class="mx-6 lg:mx-10 border-b-2 border-steel"></div>
</div>
